apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: home-cluster-access
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/mhwilkes/ombra-labops.git
    targetRevision: HEAD
    path: gitops/apps/secrets/home-cluster-access
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
