# Ignore generated TLS certs and keys (keep folders and README)
certs/indexer_cluster/*
certs/dashboard_http/*
!certs/
!certs/indexer_cluster/
!certs/dashboard_http/
!certs/indexer_cluster/README.md
!certs/dashboard_http/README.md
