name: Renovate

on:
  # Run every 4 hours
  schedule:
    - cron: '0 */4 * * *'
  # Allow manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'debug'
        type: choice
        options:
          - info
          - debug
          - trace

env:
  LOG_LEVEL: ${{ inputs.logLevel || 'info' }}

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.2
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
          renovate-version: 38.110.2
        env:
          LOG_LEVEL: ${{ env.LOG_LEVEL }}
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_USERNAME: ${{ github.repository_owner }}
          RENOVATE_GIT_AUTHOR: 'Renovate Bot <bot@renovateapp.com>'
